# Загрузка Pandas и очистка данных

In [49]:
import pandas as pd
from ast import literal_eval

In [50]:
df = pd.read_csv('main_task.csv')
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

In [51]:
# посмотрим на данные
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

### Колонка "Cuisine Style"

In [52]:
print(type(df['Cuisine Style'][0]))
df['Cuisine Style'][0]

<class 'str'>

"['European', 'French', 'International']"

Содержит список кухни, блюда которых подаются в ресторане. Данные хранятся ввиде списка, но преобразованы в строку

* его можно преобразовать в набор дополнительных признаков, появляется ли та или иная кухня в данном ресторане
* можно добавить признак Cuisine Style Info, в котором 1 - это присутствует информация о кухне, 0 - отсутствует
* можно добавить признак Cuisine Count - разнообразие кухни

In [53]:
## заменим отсутсвие данных на "['No data']" чтобы в дальнейшем такие строки можно было бы обработать
df['Cuisine Style'] = df['Cuisine Style'].fillna("['No data']")
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: literal_eval(str(x)))

In [54]:
## составим список кухонь
cs = set() 
for x in df['Cuisine Style']:
    cs.update(x)

In [55]:
## добавим дополнительные признаки в данные вида "Название кухни": 
## 1 - блюда данной кухни подаются в ресторане
## 0 - не подаются
def find_item(cell):
    if item in cell:
        return 1
    return 0

for item in cs:
    df[item] = df['Cuisine Style'].apply(find_item)

In [56]:
## посчитаем количество кухонь
def count_cs(lst):
    if len(lst) == 0:
        return 1
    return len(lst)
df['Cuisine Count'] = df['Cuisine Style'].apply(count_cs)

In [57]:
## определим наличие данных о кухне
df['Cuisine Style Info'] = df['No data'].apply(lambda x: 0 if x == 1 else 1)

In [58]:
## удалим 'Cuisine Count' и 'No data' из них больше информации не извлечь
df = df.drop(['Cuisine Style', 'No data'], axis = 1)

In [59]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 136 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Restaurant_id        40000 non-null  object
 1   City                 40000 non-null  object
 2   Ranking              40000 non-null  float64
 3   Rating               40000 non-null  float64
 4   Price Range          26114 non-null  object
 5   Number of Reviews    37457 non-null  float64
 6   Reviews              40000 non-null  object
 7   URL_TA               40000 non-null  object
 8   ID_TA                40000 non-null  object
 9   Scottish             40000 non-null  int64
 10  Swiss                40000 non-null  int64
 11  Burmese              40000 non-null  int64
 12  Japanese             40000 non-null  int64
 13  European             40000 non-null  int64
 14  Wine Bar             40000 non-null  int64
 15  Halal                40000 non-null  int64
 16  Mediterranean        40000 non-null  int64
 17  Turkish              40000 non-null  int64
 18  Vietnamese           40000 non-null  int64
 19  Irish                40000 non-null  int64
 20  Pub                  40000 non-null  int64
 21  Hawaiian             40000 non-null  int64
 22  Spanish              40000 non-null  int64
 23  Central European     40000 non-null  int64
 24  Swedish              40000 non-null  int64
 25  Southwestern         40000 non-null  int64
 26  Sri Lankan           40000 non-null  int64
 27  Cafe                 40000 non-null  int64
 28  Tibetan              40000 non-null  int64
 29  African              40000 non-null  int64
 30  Romanian             40000 non-null  int64
 31  Asian                40000 non-null  int64
 32  Soups                40000 non-null  int64
 33  French               40000 non-null  int64
 34  Brazilian            40000 non-null  int64
 35  Azerbaijani          40000 non-null  int64
 36  Barbecue             40000 non-null  int64
 37  Fast Food            40000 non-null  int64
 38  British              40000 non-null  int64
 39  Austrian             40000 non-null  int64
 40  Malaysian            40000 non-null  int64
 41  Chinese              40000 non-null  int64
 42  Australian           40000 non-null  int64
 43  Scandinavian         40000 non-null  int64
 44  American             40000 non-null  int64
 45  Gluten Free Options  40000 non-null  int64
 46  Venezuelan           40000 non-null  int64
 47  Russian              40000 non-null  int64
 48  Minority Chinese     40000 non-null  int64
 49  Canadian             40000 non-null  int64
 50  Polish               40000 non-null  int64
 51  Norwegian            40000 non-null  int64
 52  Bangladeshi          40000 non-null  int64
 53  Slovenian            40000 non-null  int64
 54  Belgian              40000 non-null  int64
 55  Mongolian            40000 non-null  int64
 56  Middle Eastern       40000 non-null  int64
 57  Latvian              40000 non-null  int64
 58  Argentinean          40000 non-null  int64
 59  Lebanese             40000 non-null  int64
 60  Jamaican             40000 non-null  int64
 61  Street Food          40000 non-null  int64
 62  Steakhouse           40000 non-null  int64
 63  Pakistani            40000 non-null  int64
 64  Eastern European     40000 non-null  int64
 65  Healthy              40000 non-null  int64
 66  Czech                40000 non-null  int64
 67  Fusion               40000 non-null  int64
 68  Chilean              40000 non-null  int64
 69  Contemporary         40000 non-null  int64
 70  Xinjiang             40000 non-null  int64
 71  Brew Pub             40000 non-null  int64
 72  German               40000 non-null  int64
 73  Cuban                40000 non-null  int64
 74  Danish               40000 non-null  int64
 75  Cambodian            40000 non-null  int64
 76  Vegan Options        40000 non-null  int64
 77  Portuguese           40000 non-null  int64
 78  Ukrainian            40000 non-null  int64
 79  South American       40000 non-null  int64
 80  Salvadoran           40000 non-null  int64
 81  Filipino             40000 non-null  int64
 82  Georgian             40000 non-null  int64
 83  Bar                  40000 non-null  int64
 84  Mexican              40000 non-null  int64
 85  Hungarian            40000 non-null  int64
 86  Pizza                40000 non-null  int64
 87  Nepali               40000 non-null  int64
 88  Dutch                40000 non-null  int64
 89  New Zealand          40000 non-null  int64
 90  Welsh                40000 non-null  int64
 91  Arabic               40000 non-null  int64
 92  Central American     40000 non-null  int64
 93  Korean               40000 non-null  int64
 94  Albanian             40000 non-null  int64
 95  Taiwanese            40000 non-null  int64
 96  Caucasian            40000 non-null  int64
 97  Polynesian           40000 non-null  int64
 98  Diner                40000 non-null  int64
 99  Latin                40000 non-null  int64
 100 Delicatessen         40000 non-null  int64
 101 Uzbek                40000 non-null  int64
 102 Yunnan               40000 non-null  int64
 103 Singaporean          40000 non-null  int64
 104 Afghani              40000 non-null  int64
 105 Israeli              40000 non-null  int64
 106 Colombian            40000 non-null  int64
 107 Ethiopian            40000 non-null  int64
 108 Grill                40000 non-null  int64
 109 Caribbean            40000 non-null  int64
 110 Ecuadorean           40000 non-null  int64
 111 Gastropub            40000 non-null  int64
 112 Armenian             40000 non-null  int64
 113 Tunisian             40000 non-null  int64
 114 Seafood              40000 non-null  int64
 115 Indian               40000 non-null  int64
 116 Italian              40000 non-null  int64
 117 Persian              40000 non-null  int64
 118 Sushi                40000 non-null  int64
 119 Cajun & Creole       40000 non-null  int64
 120 Peruvian             40000 non-null  int64
 121 Balti                40000 non-null  int64
 122 Fujian               40000 non-null  int64
 123 Native American      40000 non-null  int64
 124 Egyptian             40000 non-null  int64
 125 Croatian             40000 non-null  int64
 126 Greek                40000 non-null  int64
 127 Vegetarian Friendly  40000 non-null  int64
 128 Thai                 40000 non-null  int64
 129 Indonesian           40000 non-null  int64
 130 Kosher               40000 non-null  int64
 131 Central Asian        40000 non-null  int64
 132 International        40000 non-null  int64
 133 Moroccan             40000 non-null  int64
 134 Cuisine Count        40000 non-null  int64
 135 Cuisine Style Info   40000 non-null  int64
dtypes: float64(3), int64(127), object(6)
memory usage: 41.5+ MB

In [60]:
df.head()

,Restaurant_id,City,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,Scottish,...,Greek,Vegetarian Friendly,Thai,Indonesian,Kosher,Central Asian,International,Moroccan,Cuisine Count,Cuisine Style Info
0,id_5569,Paris,5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,0,...,0,0,0,0,0,0,1,0,3,1
1,id_1535,Stockholm,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,0,...,0,0,0,0,0,0,0,0,1,0
2,id_352,London,353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,0,...,0,1,0,0,0,0,0,0,7,1
3,id_3456,Berlin,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,0,...,0,0,0,0,0,0,0,0,1,0
4,id_615,Munich,621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,0,...,0,1,0,0,0,0,0,0,3,1

### Колонка "Price Range"

In [61]:
df['Price Range'].value_counts()

$$ - $$$    18412
$            6279
$$$$         1423
Name: Price Range, dtype: int64

колонка содержит категориальный признак ценовой категории ресторана, опять же только у чуть больше половины есть данные

* необходимо присвоить каждой категории (в том числе для NaN) числовой признак (0 - NaN, 1 - низкий ценовой сегмент, 2 - средний, 3 - высокий ценовой сегмент
* также как и для списка кухни можно добавить отдельную колонку по наличию информации Price Range Info

In [62]:
def setPriceRange(value):
    if value == '$':
        return 1 ## низкая ценовая категория
    if value == '$$ - $$$':
        return 2 ## средняя ценовая категория
    if value == '$$$$':
        return 3 ## наибольшая ценовая категория
    return 0 ## нет данных
df['Price Range'] = df['Price Range'].apply(lambda x: setPriceRange(x))

In [63]:
df['Price Range Info'] = df['Price Range'].apply(lambda x: 0 if x == 0 else 1)

In [64]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 137 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Restaurant_id        40000 non-null  object
 1   City                 40000 non-null  object
 2   Ranking              40000 non-null  float64
 3   Rating               40000 non-null  float64
 4   Price Range          40000 non-null  int64
 5   Number of Reviews    37457 non-null  float64
 6   Reviews              40000 non-null  object
 7   URL_TA               40000 non-null  object
 8   ID_TA                40000 non-null  object
 9   Scottish             40000 non-null  int64
 10  Swiss                40000 non-null  int64
 11  Burmese              40000 non-null  int64
 12  Japanese             40000 non-null  int64
 13  European             40000 non-null  int64
 14  Wine Bar             40000 non-null  int64
 15  Halal                40000 non-null  int64
 16  Mediterranean        40000 non-null  int64
 17  Turkish              40000 non-null  int64
 18  Vietnamese           40000 non-null  int64
 19  Irish                40000 non-null  int64
 20  Pub                  40000 non-null  int64
 21  Hawaiian             40000 non-null  int64
 22  Spanish              40000 non-null  int64
 23  Central European     40000 non-null  int64
 24  Swedish              40000 non-null  int64
 25  Southwestern         40000 non-null  int64
 26  Sri Lankan           40000 non-null  int64
 27  Cafe                 40000 non-null  int64
 28  Tibetan              40000 non-null  int64
 29  African              40000 non-null  int64
 30  Romanian             40000 non-null  int64
 31  Asian                40000 non-null  int64
 32  Soups                40000 non-null  int64
 33  French               40000 non-null  int64
 34  Brazilian            40000 non-null  int64
 35  Azerbaijani          40000 non-null  int64
 36  Barbecue             40000 non-null  int64
 37  Fast Food            40000 non-null  int64
 38  British              40000 non-null  int64
 39  Austrian             40000 non-null  int64
 40  Malaysian            40000 non-null  int64
 41  Chinese              40000 non-null  int64
 42  Australian           40000 non-null  int64
 43  Scandinavian         40000 non-null  int64
 44  American             40000 non-null  int64
 45  Gluten Free Options  40000 non-null  int64
 46  Venezuelan           40000 non-null  int64
 47  Russian              40000 non-null  int64
 48  Minority Chinese     40000 non-null  int64
 49  Canadian             40000 non-null  int64
 50  Polish               40000 non-null  int64
 51  Norwegian            40000 non-null  int64
 52  Bangladeshi          40000 non-null  int64
 53  Slovenian            40000 non-null  int64
 54  Belgian              40000 non-null  int64
 55  Mongolian            40000 non-null  int64
 56  Middle Eastern       40000 non-null  int64
 57  Latvian              40000 non-null  int64
 58  Argentinean          40000 non-null  int64
 59  Lebanese             40000 non-null  int64
 60  Jamaican             40000 non-null  int64
 61  Street Food          40000 non-null  int64
 62  Steakhouse           40000 non-null  int64
 63  Pakistani            40000 non-null  int64
 64  Eastern European     40000 non-null  int64
 65  Healthy              40000 non-null  int64
 66  Czech                40000 non-null  int64
 67  Fusion               40000 non-null  int64
 68  Chilean              40000 non-null  int64
 69  Contemporary         40000 non-null  int64
 70  Xinjiang             40000 non-null  int64
 71  Brew Pub             40000 non-null  int64
 72  German               40000 non-null  int64
 73  Cuban                40000 non-null  int64
 74  Danish               40000 non-null  int64
 75  Cambodian            40000 non-null  int64
 76  Vegan Options        40000 non-null  int64
 77  Portuguese           40000 non-null  int64
 78  Ukrainian            40000 non-null  int64
 79  South American       40000 non-null  int64
 80  Salvadoran           40000 non-null  int64
 81  Filipino             40000 non-null  int64
 82  Georgian             40000 non-null  int64
 83  Bar                  40000 non-null  int64
 84  Mexican              40000 non-null  int64
 85  Hungarian            40000 non-null  int64
 86  Pizza                40000 non-null  int64
 87  Nepali               40000 non-null  int64
 88  Dutch                40000 non-null  int64
 89  New Zealand          40000 non-null  int64
 90  Welsh                40000 non-null  int64
 91  Arabic               40000 non-null  int64
 92  Central American     40000 non-null  int64
 93  Korean               40000 non-null  int64
 94  Albanian             40000 non-null  int64
 95  Taiwanese            40000 non-null  int64
 96  Caucasian            40000 non-null  int64
 97  Polynesian           40000 non-null  int64
 98  Diner                40000 non-null  int64
 99  Latin                40000 non-null  int64
 100 Delicatessen         40000 non-null  int64
 101 Uzbek                40000 non-null  int64
 102 Yunnan               40000 non-null  int64
 103 Singaporean          40000 non-null  int64
 104 Afghani              40000 non-null  int64
 105 Israeli              40000 non-null  int64
 106 Colombian            40000 non-null  int64
 107 Ethiopian            40000 non-null  int64
 108 Grill                40000 non-null  int64
 109 Caribbean            40000 non-null  int64
 110 Ecuadorean           40000 non-null  int64
 111 Gastropub            40000 non-null  int64
 112 Armenian             40000 non-null  int64
 113 Tunisian             40000 non-null  int64
 114 Seafood              40000 non-null  int64
 115 Indian               40000 non-null  int64
 116 Italian              40000 non-null  int64
 117 Persian              40000 non-null  int64
 118 Sushi                40000 non-null  int64
 119 Cajun & Creole       40000 non-null  int64
 120 Peruvian             40000 non-null  int64
 121 Balti                40000 non-null  int64
 122 Fujian               40000 non-null  int64
 123 Native American      40000 non-null  int64
 124 Egyptian             40000 non-null  int64
 125 Croatian             40000 non-null  int64
 126 Greek                40000 non-null  int64
 127 Vegetarian Friendly  40000 non-null  int64
 128 Thai                 40000 non-null  int64
 129 Indonesian           40000 non-null  int64
 130 Kosher               40000 non-null  int64
 131 Central Asian        40000 non-null  int64
 132 International        40000 non-null  int64
 133 Moroccan             40000 non-null  int64
 134 Cuisine Count        40000 non-null  int64
 135 Cuisine Style Info   40000 non-null  int64
 136 Price Range Info     40000 non-null  int64
dtypes: float64(3), int64(129), object(5)
memory usage: 41.8+ MB

In [65]:
df.corr()

,Ranking,Rating,Price Range,Number of Reviews,Scottish,Swiss,Burmese,Japanese,European,Wine Bar,...,Vegetarian Friendly,Thai,Indonesian,Kosher,Central Asian,International,Moroccan,Cuisine Count,Cuisine Style Info,Price Range Info
Ranking,1.000000,-0.368371,-0.243553,-0.222670,-0.052334,-0.053201,0.005123,0.004166,-0.279235,-0.038717,...,-0.300139,-0.002347,-0.016335,0.004984,0.000875,-0.068846,0.008252,-0.320250,-0.147995,-0.233043
Rating,-0.368371,1.000000,0.051643,0.030964,0.029435,0.011654,0.007533,-0.013207,0.047848,0.062129,...,0.128356,0.001295,0.004299,-0.004501,0.006660,0.026856,0.007246,0.120059,0.038263,0.064567
Price Range,-0.243553,0.051643,1.000000,0.302302,0.041401,0.049923,-0.000963,0.101168,0.376258,0.075178,...,0.447498,0.053802,0.010977,0.017472,0.013257,0.118161,0.022486,0.565227,0.680331,0.902438
Number of Reviews,-0.222670,0.030964,0.302302,1.000000,0.055869,0.001155,-0.002094,-0.000457,0.207478,0.000539,...,0.354578,-0.007903,0.000796,0.013139,-0.002553,0.047469,-0.007383,0.398743,0.195070,0.254273
Scottish,-0.052334,0.029435,0.041401,0.055869,1.000000,-0.004277,-0.000320,-0.012468,0.021712,0.006477,...,0.051062,-0.008800,-0.002458,-0.002217,-0.001108,0.003109,-0.003804,0.094918,0.035165,0.042523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
International,-0.068846,0.026856,0.118161,0.047469,0.003109,0.009536,-0.001015,-0.032069,0.112164,0.005289,...,0.058237,-0.023188,-0.007804,-0.003336,-0.003518,1.000000,-0.007751,0.183488,0.111629,0.100679
Moroccan,0.008252,0.007246,0.022486,-0.007383,-0.003804,-0.003976,-0.000297,-0.009346,-0.027671,-0.004697,...,0.008043,-0.008182,0.008705,-0.002062,-0.001030,-0.007751,1.000000,0.047408,0.032696,0.024764
Cuisine Count,-0.320250,0.120059,0.565227,0.398743,0.094918,0.052129,0.003790,0.102332,0.484885,0.100004,...,0.691884,0.069239,0.019815,0.036607,0.018693,0.183488,0.047408,1.000000,0.490787,0.566692
Cuisine Style Info,-0.147995,0.038263,0.680331,0.195070,0.035165,0.036754,0.002749,0.107150,0.318660,0.073208,...,0.342587,0.075629,0.021129,0.019055,0.009523,0.111629,0.032696,0.490787,1.000000,0.753881
Price Range Info,-0.233043,0.064567,0.902438,0.254273,0.042523,0.039285,0.003646,0.088716,0.335548,0.066205,...,0.440977,0.061815,0.014343,0.020725,0.012632,0.100679,0.024764,0.566692,0.753881,1.000000

### Колонка "City"

In [66]:
df['City'].value_counts()

London        5757
Paris         4897
Madrid        3108
Barcelona     2734
Berlin        2155
Milan         2133
Rome          2078
Prague        1443
Lisbon        1300
Vienna        1166
Amsterdam     1086
Brussels      1060
Hamburg        949
Munich         893
Lyon           892
Stockholm      820
Budapest       816
Warsaw         727
Dublin         673
Copenhagen     659
Athens         628
Edinburgh      596
Zurich         538
Oporto         513
Geneva         481
Krakow         443
Oslo           385
Helsinki       376
Bratislava     301
Luxembourg     210
Ljubljana      183
Name: City, dtype: int64

данные полные и корректные. Подходят под DUMMY-преобразование

In [67]:
cities = pd.get_dummies(df['City'])

In [68]:
df = pd.concat([df, cities], axis=1) ## объединим с основным Data Frame

In [69]:
df = df.drop(['City'], axis = 1) ## столбец City больше не понадобиться

In [70]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 167 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Restaurant_id        40000 non-null  object
 1   Ranking              40000 non-null  float64
 2   Rating               40000 non-null  float64
 3   Price Range          40000 non-null  int64
 4   Number of Reviews    37457 non-null  float64
 5   Reviews              40000 non-null  object
 6   URL_TA               40000 non-null  object
 7   ID_TA                40000 non-null  object
 8   Scottish             40000 non-null  int64
 9   Swiss                40000 non-null  int64
 10  Burmese              40000 non-null  int64
 11  Japanese             40000 non-null  int64
 12  European             40000 non-null  int64
 13  Wine Bar             40000 non-null  int64
 14  Halal                40000 non-null  int64
 15  Mediterranean        40000 non-null  int64
 16  Turkish              40000 non-null  int64
 17  Vietnamese           40000 non-null  int64
 18  Irish                40000 non-null  int64
 19  Pub                  40000 non-null  int64
 20  Hawaiian             40000 non-null  int64
 21  Spanish              40000 non-null  int64
 22  Central European     40000 non-null  int64
 23  Swedish              40000 non-null  int64
 24  Southwestern         40000 non-null  int64
 25  Sri Lankan           40000 non-null  int64
 26  Cafe                 40000 non-null  int64
 27  Tibetan              40000 non-null  int64
 28  African              40000 non-null  int64
 29  Romanian             40000 non-null  int64
 30  Asian                40000 non-null  int64
 31  Soups                40000 non-null  int64
 32  French               40000 non-null  int64
 33  Brazilian            40000 non-null  int64
 34  Azerbaijani          40000 non-null  int64
 35  Barbecue             40000 non-null  int64
 36  Fast Food            40000 non-null  int64
 37  British              40000 non-null  int64
 38  Austrian             40000 non-null  int64
 39  Malaysian            40000 non-null  int64
 40  Chinese              40000 non-null  int64
 41  Australian           40000 non-null  int64
 42  Scandinavian         40000 non-null  int64
 43  American             40000 non-null  int64
 44  Gluten Free Options  40000 non-null  int64
 45  Venezuelan           40000 non-null  int64
 46  Russian              40000 non-null  int64
 47  Minority Chinese     40000 non-null  int64
 48  Canadian             40000 non-null  int64
 49  Polish               40000 non-null  int64
 50  Norwegian            40000 non-null  int64
 51  Bangladeshi          40000 non-null  int64
 52  Slovenian            40000 non-null  int64
 53  Belgian              40000 non-null  int64
 54  Mongolian            40000 non-null  int64
 55  Middle Eastern       40000 non-null  int64
 56  Latvian              40000 non-null  int64
 57  Argentinean          40000 non-null  int64
 58  Lebanese             40000 non-null  int64
 59  Jamaican             40000 non-null  int64
 60  Street Food          40000 non-null  int64
 61  Steakhouse           40000 non-null  int64
 62  Pakistani            40000 non-null  int64
 63  Eastern European     40000 non-null  int64
 64  Healthy              40000 non-null  int64
 65  Czech                40000 non-null  int64
 66  Fusion               40000 non-null  int64
 67  Chilean              40000 non-null  int64
 68  Contemporary         40000 non-null  int64
 69  Xinjiang             40000 non-null  int64
 70  Brew Pub             40000 non-null  int64
 71  German               40000 non-null  int64
 72  Cuban                40000 non-null  int64
 73  Danish               40000 non-null  int64
 74  Cambodian            40000 non-null  int64
 75  Vegan Options        40000 non-null  int64
 76  Portuguese           40000 non-null  int64
 77  Ukrainian            40000 non-null  int64
 78  South American       40000 non-null  int64
 79  Salvadoran           40000 non-null  int64
 80  Filipino             40000 non-null  int64
 81  Georgian             40000 non-null  int64
 82  Bar                  40000 non-null  int64
 83  Mexican              40000 non-null  int64
 84  Hungarian            40000 non-null  int64
 85  Pizza                40000 non-null  int64
 86  Nepali               40000 non-null  int64
 87  Dutch                40000 non-null  int64
 88  New Zealand          40000 non-null  int64
 89  Welsh                40000 non-null  int64
 90  Arabic               40000 non-null  int64
 91  Central American     40000 non-null  int64
 92  Korean               40000 non-null  int64
 93  Albanian             40000 non-null  int64
 94  Taiwanese            40000 non-null  int64
 95  Caucasian            40000 non-null  int64
 96  Polynesian           40000 non-null  int64
 97  Diner                40000 non-null  int64
 98  Latin                40000 non-null  int64
 99  Delicatessen         40000 non-null  int64
 100 Uzbek                40000 non-null  int64
 101 Yunnan               40000 non-null  int64
 102 Singaporean          40000 non-null  int64
 103 Afghani              40000 non-null  int64
 104 Israeli              40000 non-null  int64
 105 Colombian            40000 non-null  int64
 106 Ethiopian            40000 non-null  int64
 107 Grill                40000 non-null  int64
 108 Caribbean            40000 non-null  int64
 109 Ecuadorean           40000 non-null  int64
 110 Gastropub            40000 non-null  int64
 111 Armenian             40000 non-null  int64
 112 Tunisian             40000 non-null  int64
 113 Seafood              40000 non-null  int64
 114 Indian               40000 non-null  int64
 115 Italian              40000 non-null  int64
 116 Persian              40000 non-null  int64
 117 Sushi                40000 non-null  int64
 118 Cajun & Creole       40000 non-null  int64
 119 Peruvian             40000 non-null  int64
 120 Balti                40000 non-null  int64
 121 Fujian               40000 non-null  int64
 122 Native American      40000 non-null  int64
 123 Egyptian             40000 non-null  int64
 124 Croatian             40000 non-null  int64
 125 Greek                40000 non-null  int64
 126 Vegetarian Friendly  40000 non-null  int64
 127 Thai                 40000 non-null  int64
 128 Indonesian           40000 non-null  int64
 129 Kosher               40000 non-null  int64
 130 Central Asian        40000 non-null  int64
 131 International        40000 non-null  int64
 132 Moroccan             40000 non-null  int64
 133 Cuisine Count        40000 non-null  int64
 134 Cuisine Style Info   40000 non-null  int64
 135 Price Range Info     40000 non-null  int64
 136 Amsterdam            40000 non-null  uint8
 137 Athens               40000 non-null  uint8
 138 Barcelona            40000 non-null  uint8
 139 Berlin               40000 non-null  uint8
 140 Bratislava           40000 non-null  uint8
 141 Brussels             40000 non-null  uint8
 142 Budapest             40000 non-null  uint8
 143 Copenhagen           40000 non-null  uint8
 144 Dublin               40000 non-null  uint8
 145 Edinburgh            40000 non-null  uint8
 146 Geneva               40000 non-null  uint8
 147 Hamburg              40000 non-null  uint8
 148 Helsinki             40000 non-null  uint8
 149 Krakow               40000 non-null  uint8
 150 Lisbon               40000 non-null  uint8
 151 Ljubljana            40000 non-null  uint8
 152 London               40000 non-null  uint8
 153 Luxembourg           40000 non-null  uint8
 154 Lyon                 40000 non-null  uint8
 155 Madrid               40000 non-null  uint8
 156 Milan                40000 non-null  uint8
 157 Munich               40000 non-null  uint8
 158 Oporto               40000 non-null  uint8
 159 Oslo                 40000 non-null  uint8
 160 Paris                40000 non-null  uint8
 161 Prague               40000 non-null  uint8
 162 Rome                 40000 non-null  uint8
 163 Stockholm            40000 non-null  uint8
 164 Vienna               40000 non-null  uint8
 165 Warsaw               40000 non-null  uint8
 166 Zurich               40000 non-null  uint8
dtypes: float64(3), int64(129), object(4), uint8(31)
memory usage: 42.7+ MB

### Колонка "Reviews"

In [71]:
print(df['Reviews'][0])
type(df['Reviews'][0])

[['Good food at your doorstep', 'A good hotel restaurant'], ['12/31/2017', '11/20/2017']]

str

Содержит информацию о двух отзывах, размещенных на сайте, как видно представляет собой двумерный массив, где в первом списке находятся отзывы, а во втором списке - даты этих отзывов. Но представлен ввиде строки

In [72]:
## преобразуем поле Review чтобы в дальнейшем его можно было легче обработать
from datetime import datetime

def reviewsConveter(value):
    if isinstance(value, str):
        ## преобразования, чтобы literal_eval отработал корректно
        value = value.replace("nan]", "'']") 
        value = value.replace("[nan", "[''")
        ## преобразование строки в список
        value = literal_eval(value)
    
    ## если список преобразован, преобразуем список дат из строкового представления в тип date
    if isinstance(value, list):
        dates = value[1]
        value[1] = [datetime.strptime(date, '%m/%d/%Y').date() for date in dates]
    return value

df['Reviews'] = df['Reviews'].fillna("[[],[]]") ## заполним отсутствующие данные
df['Reviews'] = df['Reviews'].apply(lambda x: reviewsConveter(x))

Добавим 4 колонки
* First Review - первый отзыв
* First Review Date - дата первого отзыва
* Second Review - второй отзыв
* Second Review Date - дата второго отзыва

In [73]:
df['Reviews'][0][0]

['Good food at your doorstep', 'A good hotel restaurant']

In [74]:
def getReview(review, row, col):
    try:
        return review[row][col];
    except:
        return None;

In [75]:
df['First Review'] = df['Reviews'].apply(lambda x: getReview(x, 0, 0))
df['First Review Date'] = df['Reviews'].apply(lambda x: getReview(x, 1, 0))
df['Second Review'] = df['Reviews'].apply(lambda x: getReview(x, 0, 1))
df['Second Review Date'] = df['Reviews'].apply(lambda x: getReview(x, 1, 1))

In [76]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 171 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Restaurant_id        40000 non-null  object
 1   Ranking              40000 non-null  float64
 2   Rating               40000 non-null  float64
 3   Price Range          40000 non-null  int64
 4   Number of Reviews    37457 non-null  float64
 5   Reviews              40000 non-null  object
 6   URL_TA               40000 non-null  object
 7   ID_TA                40000 non-null  object
 8   Scottish             40000 non-null  int64
 9   Swiss                40000 non-null  int64
 10  Burmese              40000 non-null  int64
 11  Japanese             40000 non-null  int64
 12  European             40000 non-null  int64
 13  Wine Bar             40000 non-null  int64
 14  Halal                40000 non-null  int64
 15  Mediterranean        40000 non-null  int64
 16  Turkish              40000 non-null  int64
 17  Vietnamese           40000 non-null  int64
 18  Irish                40000 non-null  int64
 19  Pub                  40000 non-null  int64
 20  Hawaiian             40000 non-null  int64
 21  Spanish              40000 non-null  int64
 22  Central European     40000 non-null  int64
 23  Swedish              40000 non-null  int64
 24  Southwestern         40000 non-null  int64
 25  Sri Lankan           40000 non-null  int64
 26  Cafe                 40000 non-null  int64
 27  Tibetan              40000 non-null  int64
 28  African              40000 non-null  int64
 29  Romanian             40000 non-null  int64
 30  Asian                40000 non-null  int64
 31  Soups                40000 non-null  int64
 32  French               40000 non-null  int64
 33  Brazilian            40000 non-null  int64
 34  Azerbaijani          40000 non-null  int64
 35  Barbecue             40000 non-null  int64
 36  Fast Food            40000 non-null  int64
 37  British              40000 non-null  int64
 38  Austrian             40000 non-null  int64
 39  Malaysian            40000 non-null  int64
 40  Chinese              40000 non-null  int64
 41  Australian           40000 non-null  int64
 42  Scandinavian         40000 non-null  int64
 43  American             40000 non-null  int64
 44  Gluten Free Options  40000 non-null  int64
 45  Venezuelan           40000 non-null  int64
 46  Russian              40000 non-null  int64
 47  Minority Chinese     40000 non-null  int64
 48  Canadian             40000 non-null  int64
 49  Polish               40000 non-null  int64
 50  Norwegian            40000 non-null  int64
 51  Bangladeshi          40000 non-null  int64
 52  Slovenian            40000 non-null  int64
 53  Belgian              40000 non-null  int64
 54  Mongolian            40000 non-null  int64
 55  Middle Eastern       40000 non-null  int64
 56  Latvian              40000 non-null  int64
 57  Argentinean          40000 non-null  int64
 58  Lebanese             40000 non-null  int64
 59  Jamaican             40000 non-null  int64
 60  Street Food          40000 non-null  int64
 61  Steakhouse           40000 non-null  int64
 62  Pakistani            40000 non-null  int64
 63  Eastern European     40000 non-null  int64
 64  Healthy              40000 non-null  int64
 65  Czech                40000 non-null  int64
 66  Fusion               40000 non-null  int64
 67  Chilean              40000 non-null  int64
 68  Contemporary         40000 non-null  int64
 69  Xinjiang             40000 non-null  int64
 70  Brew Pub             40000 non-null  int64
 71  German               40000 non-null  int64
 72  Cuban                40000 non-null  int64
 73  Danish               40000 non-null  int64
 74  Cambodian            40000 non-null  int64
 75  Vegan Options        40000 non-null  int64
 76  Portuguese           40000 non-null  int64
 77  Ukrainian            40000 non-null  int64
 78  South American       40000 non-null  int64
 79  Salvadoran           40000 non-null  int64
 80  Filipino             40000 non-null  int64
 81  Georgian             40000 non-null  int64
 82  Bar                  40000 non-null  int64
 83  Mexican              40000 non-null  int64
 84  Hungarian            40000 non-null  int64
 85  Pizza                40000 non-null  int64
 86  Nepali               40000 non-null  int64
 87  Dutch                40000 non-null  int64
 88  New Zealand          40000 non-null  int64
 89  Welsh                40000 non-null  int64
 90  Arabic               40000 non-null  int64
 91  Central American     40000 non-null  int64
 92  Korean               40000 non-null  int64
 93  Albanian             40000 non-null  int64
 94  Taiwanese            40000 non-null  int64
 95  Caucasian            40000 non-null  int64
 96  Polynesian           40000 non-null  int64
 97  Diner                40000 non-null  int64
 98  Latin                40000 non-null  int64
 99  Delicatessen         40000 non-null  int64
 100 Uzbek                40000 non-null  int64
 101 Yunnan               40000 non-null  int64
 102 Singaporean          40000 non-null  int64
 103 Afghani              40000 non-null  int64
 104 Israeli              40000 non-null  int64
 105 Colombian            40000 non-null  int64
 106 Ethiopian            40000 non-null  int64
 107 Grill                40000 non-null  int64
 108 Caribbean            40000 non-null  int64
 109 Ecuadorean           40000 non-null  int64
 110 Gastropub            40000 non-null  int64
 111 Armenian             40000 non-null  int64
 112 Tunisian             40000 non-null  int64
 113 Seafood              40000 non-null  int64
 114 Indian               40000 non-null  int64
 115 Italian              40000 non-null  int64
 116 Persian              40000 non-null  int64
 117 Sushi                40000 non-null  int64
 118 Cajun & Creole       40000 non-null  int64
 119 Peruvian             40000 non-null  int64
 120 Balti                40000 non-null  int64
 121 Fujian               40000 non-null  int64
 122 Native American      40000 non-null  int64
 123 Egyptian             40000 non-null  int64
 124 Croatian             40000 non-null  int64
 125 Greek                40000 non-null  int64
 126 Vegetarian Friendly  40000 non-null  int64
 127 Thai                 40000 non-null  int64
 128 Indonesian           40000 non-null  int64
 129 Kosher               40000 non-null  int64
 130 Central Asian        40000 non-null  int64
 131 International        40000 non-null  int64
 132 Moroccan             40000 non-null  int64
 133 Cuisine Count        40000 non-null  int64
 134 Cuisine Style Info   40000 non-null  int64
 135 Price Range Info     40000 non-null  int64
 136 Amsterdam            40000 non-null  uint8
 137 Athens               40000 non-null  uint8
 138 Barcelona            40000 non-null  uint8
 139 Berlin               40000 non-null  uint8
 140 Bratislava           40000 non-null  uint8
 141 Brussels             40000 non-null  uint8
 142 Budapest             40000 non-null  uint8
 143 Copenhagen           40000 non-null  uint8
 144 Dublin               40000 non-null  uint8
 145 Edinburgh            40000 non-null  uint8
 146 Geneva               40000 non-null  uint8
 147 Hamburg              40000 non-null  uint8
 148 Helsinki             40000 non-null  uint8
 149 Krakow               40000 non-null  uint8
 150 Lisbon               40000 non-null  uint8
 151 Ljubljana            40000 non-null  uint8
 152 London               40000 non-null  uint8
 153 Luxembourg           40000 non-null  uint8
 154 Lyon                 40000 non-null  uint8
 155 Madrid               40000 non-null  uint8
 156 Milan                40000 non-null  uint8
 157 Munich               40000 non-null  uint8
 158 Oporto               40000 non-null  uint8
 159 Oslo                 40000 non-null  uint8
 160 Paris                40000 non-null  uint8
 161 Prague               40000 non-null  uint8
 162 Rome                 40000 non-null  uint8
 163 Stockholm            40000 non-null  uint8
 164 Vienna               40000 non-null  uint8
 165 Warsaw               40000 non-null  uint8
 166 Zurich               40000 non-null  uint8
 167 First Review         33529 non-null  object
 168 First Review Date    33529 non-null  object
 169 Second Review        28973 non-null  object
 170 Second Review Date   28973 non-null  object
dtypes: float64(3), int64(129), object(8), uint8(31)
memory usage: 43.9+ MB

In [77]:
max(df['First Review Date'].dropna())

datetime.date(2018, 2, 26)

In [78]:
max(df['Second Review Date'].dropna())

datetime.date(2018, 2, 26)

In [79]:
min(df['First Review Date'].dropna())

datetime.date(2004, 4, 21)

In [80]:
min(df['Second Review Date'].dropna())

datetime.date(2007, 11, 14)

Видим, что отзывов не всегда 2, а иногда они отсутствуют.
Можно добавить следующие колонки
* Last Review Date - дата последнего отзыва
* Days After Review - количество дней с момента публикации последнего отзыва
* Review Count - количество отзывов на сайте

In [81]:
def lastReviewDate(x):
    if (x['First Review Date'] != None) and (x['Second Review Date'] == None):
        return x['First Review Date']
    if (x['First Review Date'] == None) and (x['Second Review Date'] != None):
        return x['Second Review Date']
    if (x['First Review Date'] != None) and (x['Second Review Date'] != None):
        return max([x['First Review Date'], x['Second Review Date']])
    return None

In [82]:
df['Last Review Date'] = df.apply(lambda x: lastReviewDate(x), axis=1)

In [83]:
## количество дней после даты, если дата отсутствует, то None
def daysAfter(x):
    today = datetime.now().date()
    if (x != None):
        return (today-x).days
    return None;

In [84]:
df['Days After Review'] = df['Last Review Date'].apply(lambda x: daysAfter(x))

In [85]:
## функция подсчета колчества отзывов
def countReviewOnSite(x):
    if (x['First Review Date'] == None) and (x['Second Review Date'] == None):
        return 0
    if (x['First Review Date'] != None) and (x['Second Review Date'] == None):
        return 1
    return 2

df['Count Review'] = df.apply(lambda x: countReviewOnSite(x), axis=1)

### Колонка 'Number of Reviews'

In [86]:
## заполним недостающие данные в данной колонке в зависимости от наличия отзывов в колонке Count Review
df['Number of Reviews'] = df['Number of Reviews'].fillna(df['Count Review'])

#### Финальная обработка

Удалим все нечисловые поля

In [87]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 174 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Restaurant_id        40000 non-null  object
 1   Ranking              40000 non-null  float64
 2   Rating               40000 non-null  float64
 3   Price Range          40000 non-null  int64
 4   Number of Reviews    40000 non-null  float64
 5   Reviews              40000 non-null  object
 6   URL_TA               40000 non-null  object
 7   ID_TA                40000 non-null  object
 8   Scottish             40000 non-null  int64
 9   Swiss                40000 non-null  int64
 10  Burmese              40000 non-null  int64
 11  Japanese             40000 non-null  int64
 12  European             40000 non-null  int64
 13  Wine Bar             40000 non-null  int64
 14  Halal                40000 non-null  int64
 15  Mediterranean        40000 non-null  int64
 16  Turkish              40000 non-null  int64
 17  Vietnamese           40000 non-null  int64
 18  Irish                40000 non-null  int64
 19  Pub                  40000 non-null  int64
 20  Hawaiian             40000 non-null  int64
 21  Spanish              40000 non-null  int64
 22  Central European     40000 non-null  int64
 23  Swedish              40000 non-null  int64
 24  Southwestern         40000 non-null  int64
 25  Sri Lankan           40000 non-null  int64
 26  Cafe                 40000 non-null  int64
 27  Tibetan              40000 non-null  int64
 28  African              40000 non-null  int64
 29  Romanian             40000 non-null  int64
 30  Asian                40000 non-null  int64
 31  Soups                40000 non-null  int64
 32  French               40000 non-null  int64
 33  Brazilian            40000 non-null  int64
 34  Azerbaijani          40000 non-null  int64
 35  Barbecue             40000 non-null  int64
 36  Fast Food            40000 non-null  int64
 37  British              40000 non-null  int64
 38  Austrian             40000 non-null  int64
 39  Malaysian            40000 non-null  int64
 40  Chinese              40000 non-null  int64
 41  Australian           40000 non-null  int64
 42  Scandinavian         40000 non-null  int64
 43  American             40000 non-null  int64
 44  Gluten Free Options  40000 non-null  int64
 45  Venezuelan           40000 non-null  int64
 46  Russian              40000 non-null  int64
 47  Minority Chinese     40000 non-null  int64
 48  Canadian             40000 non-null  int64
 49  Polish               40000 non-null  int64
 50  Norwegian            40000 non-null  int64
 51  Bangladeshi          40000 non-null  int64
 52  Slovenian            40000 non-null  int64
 53  Belgian              40000 non-null  int64
 54  Mongolian            40000 non-null  int64
 55  Middle Eastern       40000 non-null  int64
 56  Latvian              40000 non-null  int64
 57  Argentinean          40000 non-null  int64
 58  Lebanese             40000 non-null  int64
 59  Jamaican             40000 non-null  int64
 60  Street Food          40000 non-null  int64
 61  Steakhouse           40000 non-null  int64
 62  Pakistani            40000 non-null  int64
 63  Eastern European     40000 non-null  int64
 64  Healthy              40000 non-null  int64
 65  Czech                40000 non-null  int64
 66  Fusion               40000 non-null  int64
 67  Chilean              40000 non-null  int64
 68  Contemporary         40000 non-null  int64
 69  Xinjiang             40000 non-null  int64
 70  Brew Pub             40000 non-null  int64
 71  German               40000 non-null  int64
 72  Cuban                40000 non-null  int64
 73  Danish               40000 non-null  int64
 74  Cambodian            40000 non-null  int64
 75  Vegan Options        40000 non-null  int64
 76  Portuguese           40000 non-null  int64
 77  Ukrainian            40000 non-null  int64
 78  South American       40000 non-null  int64
 79  Salvadoran           40000 non-null  int64
 80  Filipino             40000 non-null  int64
 81  Georgian             40000 non-null  int64
 82  Bar                  40000 non-null  int64
 83  Mexican              40000 non-null  int64
 84  Hungarian            40000 non-null  int64
 85  Pizza                40000 non-null  int64
 86  Nepali               40000 non-null  int64
 87  Dutch                40000 non-null  int64
 88  New Zealand          40000 non-null  int64
 89  Welsh                40000 non-null  int64
 90  Arabic               40000 non-null  int64
 91  Central American     40000 non-null  int64
 92  Korean               40000 non-null  int64
 93  Albanian             40000 non-null  int64
 94  Taiwanese            40000 non-null  int64
 95  Caucasian            40000 non-null  int64
 96  Polynesian           40000 non-null  int64
 97  Diner                40000 non-null  int64
 98  Latin                40000 non-null  int64
 99  Delicatessen         40000 non-null  int64
 100 Uzbek                40000 non-null  int64
 101 Yunnan               40000 non-null  int64
 102 Singaporean          40000 non-null  int64
 103 Afghani              40000 non-null  int64
 104 Israeli              40000 non-null  int64
 105 Colombian            40000 non-null  int64
 106 Ethiopian            40000 non-null  int64
 107 Grill                40000 non-null  int64
 108 Caribbean            40000 non-null  int64
 109 Ecuadorean           40000 non-null  int64
 110 Gastropub            40000 non-null  int64
 111 Armenian             40000 non-null  int64
 112 Tunisian             40000 non-null  int64
 113 Seafood              40000 non-null  int64
 114 Indian               40000 non-null  int64
 115 Italian              40000 non-null  int64
 116 Persian              40000 non-null  int64
 117 Sushi                40000 non-null  int64
 118 Cajun & Creole       40000 non-null  int64
 119 Peruvian             40000 non-null  int64
 120 Balti                40000 non-null  int64
 121 Fujian               40000 non-null  int64
 122 Native American      40000 non-null  int64
 123 Egyptian             40000 non-null  int64
 124 Croatian             40000 non-null  int64
 125 Greek                40000 non-null  int64
 126 Vegetarian Friendly  40000 non-null  int64
 127 Thai                 40000 non-null  int64
 128 Indonesian           40000 non-null  int64
 129 Kosher               40000 non-null  int64
 130 Central Asian        40000 non-null  int64
 131 International        40000 non-null  int64
 132 Moroccan             40000 non-null  int64
 133 Cuisine Count        40000 non-null  int64
 134 Cuisine Style Info   40000 non-null  int64
 135 Price Range Info     40000 non-null  int64
 136 Amsterdam            40000 non-null  uint8
 137 Athens               40000 non-null  uint8
 138 Barcelona            40000 non-null  uint8
 139 Berlin               40000 non-null  uint8
 140 Bratislava           40000 non-null  uint8
 141 Brussels             40000 non-null  uint8
 142 Budapest             40000 non-null  uint8
 143 Copenhagen           40000 non-null  uint8
 144 Dublin               40000 non-null  uint8
 145 Edinburgh            40000 non-null  uint8
 146 Geneva               40000 non-null  uint8
 147 Hamburg              40000 non-null  uint8
 148 Helsinki             40000 non-null  uint8
 149 Krakow               40000 non-null  uint8
 150 Lisbon               40000 non-null  uint8
 151 Ljubljana            40000 non-null  uint8
 152 London               40000 non-null  uint8
 153 Luxembourg           40000 non-null  uint8
 154 Lyon                 40000 non-null  uint8
 155 Madrid               40000 non-null  uint8
 156 Milan                40000 non-null  uint8
 157 Munich               40000 non-null  uint8
 158 Oporto               40000 non-null  uint8
 159 Oslo                 40000 non-null  uint8
 160 Paris                40000 non-null  uint8
 161 Prague               40000 non-null  uint8
 162 Rome                 40000 non-null  uint8
 163 Stockholm            40000 non-null  uint8
 164 Vienna               40000 non-null  uint8
 165 Warsaw               40000 non-null  uint8
 166 Zurich               40000 non-null  uint8
 167 First Review         33529 non-null  object
 168 First Review Date    33529 non-null  object
 169 Second Review        28973 non-null  object
 170 Second Review Date   28973 non-null  object
 171 Last Review Date     33529 non-null  object
 172 Days After Review    33529 non-null  float64
 173 Count Review         40000 non-null  int64
dtypes: float64(4), int64(130), object(9), uint8(31)
memory usage: 44.8+ MB

In [88]:
df = df.drop(['URL_TA', 'ID_TA', 'Reviews', 'First Review', 'First Review Date', 'Second Review', 'Second Review Date', 'Last Review Date'], axis = 1)

In [89]:
df['Days After Review'] = df['Days After Review'].fillna(0)

In [90]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 166 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Restaurant_id        40000 non-null  object
 1   Ranking              40000 non-null  float64
 2   Rating               40000 non-null  float64
 3   Price Range          40000 non-null  int64
 4   Number of Reviews    40000 non-null  float64
 5   Scottish             40000 non-null  int64
 6   Swiss                40000 non-null  int64
 7   Burmese              40000 non-null  int64
 8   Japanese             40000 non-null  int64
 9   European             40000 non-null  int64
 10  Wine Bar             40000 non-null  int64
 11  Halal                40000 non-null  int64
 12  Mediterranean        40000 non-null  int64
 13  Turkish              40000 non-null  int64
 14  Vietnamese           40000 non-null  int64
 15  Irish                40000 non-null  int64
 16  Pub                  40000 non-null  int64
 17  Hawaiian             40000 non-null  int64
 18  Spanish              40000 non-null  int64
 19  Central European     40000 non-null  int64
 20  Swedish              40000 non-null  int64
 21  Southwestern         40000 non-null  int64
 22  Sri Lankan           40000 non-null  int64
 23  Cafe                 40000 non-null  int64
 24  Tibetan              40000 non-null  int64
 25  African              40000 non-null  int64
 26  Romanian             40000 non-null  int64
 27  Asian                40000 non-null  int64
 28  Soups                40000 non-null  int64
 29  French               40000 non-null  int64
 30  Brazilian            40000 non-null  int64
 31  Azerbaijani          40000 non-null  int64
 32  Barbecue             40000 non-null  int64
 33  Fast Food            40000 non-null  int64
 34  British              40000 non-null  int64
 35  Austrian             40000 non-null  int64
 36  Malaysian            40000 non-null  int64
 37  Chinese              40000 non-null  int64
 38  Australian           40000 non-null  int64
 39  Scandinavian         40000 non-null  int64
 40  American             40000 non-null  int64
 41  Gluten Free Options  40000 non-null  int64
 42  Venezuelan           40000 non-null  int64
 43  Russian              40000 non-null  int64
 44  Minority Chinese     40000 non-null  int64
 45  Canadian             40000 non-null  int64
 46  Polish               40000 non-null  int64
 47  Norwegian            40000 non-null  int64
 48  Bangladeshi          40000 non-null  int64
 49  Slovenian            40000 non-null  int64
 50  Belgian              40000 non-null  int64
 51  Mongolian            40000 non-null  int64
 52  Middle Eastern       40000 non-null  int64
 53  Latvian              40000 non-null  int64
 54  Argentinean          40000 non-null  int64
 55  Lebanese             40000 non-null  int64
 56  Jamaican             40000 non-null  int64
 57  Street Food          40000 non-null  int64
 58  Steakhouse           40000 non-null  int64
 59  Pakistani            40000 non-null  int64
 60  Eastern European     40000 non-null  int64
 61  Healthy              40000 non-null  int64
 62  Czech                40000 non-null  int64
 63  Fusion               40000 non-null  int64
 64  Chilean              40000 non-null  int64
 65  Contemporary         40000 non-null  int64
 66  Xinjiang             40000 non-null  int64
 67  Brew Pub             40000 non-null  int64
 68  German               40000 non-null  int64
 69  Cuban                40000 non-null  int64
 70  Danish               40000 non-null  int64
 71  Cambodian            40000 non-null  int64
 72  Vegan Options        40000 non-null  int64
 73  Portuguese           40000 non-null  int64
 74  Ukrainian            40000 non-null  int64
 75  South American       40000 non-null  int64
 76  Salvadoran           40000 non-null  int64
 77  Filipino             40000 non-null  int64
 78  Georgian             40000 non-null  int64
 79  Bar                  40000 non-null  int64
 80  Mexican              40000 non-null  int64
 81  Hungarian            40000 non-null  int64
 82  Pizza                40000 non-null  int64
 83  Nepali               40000 non-null  int64
 84  Dutch                40000 non-null  int64
 85  New Zealand          40000 non-null  int64
 86  Welsh                40000 non-null  int64
 87  Arabic               40000 non-null  int64
 88  Central American     40000 non-null  int64
 89  Korean               40000 non-null  int64
 90  Albanian             40000 non-null  int64
 91  Taiwanese            40000 non-null  int64
 92  Caucasian            40000 non-null  int64
 93  Polynesian           40000 non-null  int64
 94  Diner                40000 non-null  int64
 95  Latin                40000 non-null  int64
 96  Delicatessen         40000 non-null  int64
 97  Uzbek                40000 non-null  int64
 98  Yunnan               40000 non-null  int64
 99  Singaporean          40000 non-null  int64
 100 Afghani              40000 non-null  int64
 101 Israeli              40000 non-null  int64
 102 Colombian            40000 non-null  int64
 103 Ethiopian            40000 non-null  int64
 104 Grill                40000 non-null  int64
 105 Caribbean            40000 non-null  int64
 106 Ecuadorean           40000 non-null  int64
 107 Gastropub            40000 non-null  int64
 108 Armenian             40000 non-null  int64
 109 Tunisian             40000 non-null  int64
 110 Seafood              40000 non-null  int64
 111 Indian               40000 non-null  int64
 112 Italian              40000 non-null  int64
 113 Persian              40000 non-null  int64
 114 Sushi                40000 non-null  int64
 115 Cajun & Creole       40000 non-null  int64
 116 Peruvian             40000 non-null  int64
 117 Balti                40000 non-null  int64
 118 Fujian               40000 non-null  int64
 119 Native American      40000 non-null  int64
 120 Egyptian             40000 non-null  int64
 121 Croatian             40000 non-null  int64
 122 Greek                40000 non-null  int64
 123 Vegetarian Friendly  40000 non-null  int64
 124 Thai                 40000 non-null  int64
 125 Indonesian           40000 non-null  int64
 126 Kosher               40000 non-null  int64
 127 Central Asian        40000 non-null  int64
 128 International        40000 non-null  int64
 129 Moroccan             40000 non-null  int64
 130 Cuisine Count        40000 non-null  int64
 131 Cuisine Style Info   40000 non-null  int64
 132 Price Range Info     40000 non-null  int64
 133 Amsterdam            40000 non-null  uint8
 134 Athens               40000 non-null  uint8
 135 Barcelona            40000 non-null  uint8
 136 Berlin               40000 non-null  uint8
 137 Bratislava           40000 non-null  uint8
 138 Brussels             40000 non-null  uint8
 139 Budapest             40000 non-null  uint8
 140 Copenhagen           40000 non-null  uint8
 141 Dublin               40000 non-null  uint8
 142 Edinburgh            40000 non-null  uint8
 143 Geneva               40000 non-null  uint8
 144 Hamburg              40000 non-null  uint8
 145 Helsinki             40000 non-null  uint8
 146 Krakow               40000 non-null  uint8
 147 Lisbon               40000 non-null  uint8
 148 Ljubljana            40000 non-null  uint8
 149 London               40000 non-null  uint8
 150 Luxembourg           40000 non-null  uint8
 151 Lyon                 40000 non-null  uint8
 152 Madrid               40000 non-null  uint8
 153 Milan                40000 non-null  uint8
 154 Munich               40000 non-null  uint8
 155 Oporto               40000 non-null  uint8
 156 Oslo                 40000 non-null  uint8
 157 Paris                40000 non-null  uint8
 158 Prague               40000 non-null  uint8
 159 Rome                 40000 non-null  uint8
 160 Stockholm            40000 non-null  uint8
 161 Vienna               40000 non-null  uint8
 162 Warsaw               40000 non-null  uint8
 163 Zurich               40000 non-null  uint8
 164 Days After Review    40000 non-null  float64
 165 Count Review         40000 non-null  int64
dtypes: float64(4), int64(130), object(1), uint8(31)
memory usage: 42.4+ MB

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [91]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [92]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [93]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [94]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [95]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [96]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.2103745